/* 
* Made by Mattia Cacciatore S4850100 <cacciatore1995@hotmail.it> CS student at UniGe - Italy. 
* Inspiration: Kevin Powell https://youtu.be/Z-3tPXf9a7M?si=zRV7p468wSbvko9v
*/
body{
  min-block-size: 100dvh;
  display: grid;
  place-items: center;
}

.tiltable{
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 20px;

  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  transition: transform 0.3s;
}
/* It creates a pseudo-element that is the FIRST child of the selected element. */
.tiltable::before{
  /* Must be specified otherwhise it would be evaluate as display:none. */
  content: '';
  /* The element is positioned relative to its first positioned (not static) ancestor element. */
  position: absolute;
  border-radius: inherit;
  /* It sets this element right behind the main one. */
  z-index: -1;
  inset: -1rem;
  /* Viridis: color's blind friendly palette. */
  background: linear-gradient(135deg, 
    #fde725,
    #c2df23,
    #86d549,
    #52c569,
    #2ab07f,
    #1e9b8a,
    #25858e,
    #2d708e,
    #38588c,
    #433e85,
    #482173,
    #440154
  );
  /* It puts the background's palette slightly back the original image. */
  transform: translateZ(-1rem);
}

.tiltable > img{
  display: block;
  width: 15rem;
}

img:hover{
  transform: scale(1.2);
  transition: transform 0.3s;
}

img::before{
  content: '';
  /* The element is positioned relative to its first positioned (not static) ancestor element. */
  position: absolute;
  border-radius: inherit;
  z-index: -2;
  inset: -1rem;
  background: linear-gradient(135deg, 
    #fde725,
    #c2df23,
    #86d549,
    #52c569,
    #2ab07f,
    #1e9b8a,
    #25858e,
    #2d708e,
    #38588c,
    #433e85,
    #482173,
    #440154
  );
  /* It puts the background's palette slightly back the original image. */
  transform: translateZ(-1rem);
}

